{% extends "base.html" %}

{% block content %}
    <div class="main">
    <h5 class = "title" style = "margin-top: 5%;">{{ post.title }}</h5>
    <p class = "time" style = "margin-top:-20px;">{{ post.createdAt }}</p>
    <p style = "margin-top:-10px;">{{ post.body|linebreaks }}</p>
    <!-- Comments  -->
    <ul>
        {% for comment in comments.object_list %}
            <h5 class = "title" style = "margin-top: 5%;">{{ comment.owner }}</h5>
            <p class = "time" style = "margin-top:-20px;">{{ comment.createdAt }}</p>
            <p style = "margin-top:-10px;">{{ comment.body|linebreaks }}</p>
        {% endfor %}
    </ul>

    </div>

{% endblock %}