<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head> 
  
  <meta charset="utf-8">
  <title>{% block title %} Blog {% endblock %}</title> 
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">

  <link rel="icon" type="image/png" href="images/favicon.png" />

</head>

<body>
    <div class ="container">
        <div class = "row" style="margin-top: 10%">
            {% block sidebar %} {% endblock %} 
        </div>
        
        <div class = "row" style="text-align:center;">
                
            <div class="one-half column offset-by-three">
                {% block content %}{% endblock %}
            </div> 

        </div>
    </div>
</body>
</html>