{% extends "base.html" %}

{% block content %}
    
    <div class="row">



        <h6 class="header">My Tasks</h6>

        <table class="u-full-width">
            <thead></thead>
          <tbody>
                <tr><td></td><td></td></tr>

                <tr>    
                <form action="/home/" method="post">
                    {% csrf_token %}

                 <td><input type="text" class="content" name = "content" style="width:100%;" /></td>
                    <td><input type="submit" class = "todo-button button-primary" style="width:100%; margin-bottom: 10px;  margin-top: 12px; " value="Add" /></td>
                </form>
                </tr>

                {% for item in todo_items %}
                    <tr>
                      <td><strong>{{ item.content }}</strong> <em>- {{ item.created_at }}</em></td>
                      <td><form action="/complete_todo/" method="post">
                        <input type="hidden" name="item" value={{ item.id }} />
                        <input type="submit" class = "todo-button" style="width:100%;" value="done" />
                        </form></td>
                    </tr>
                {% endfor %}
          </tbody>
        </table>

        <br>


        <h6 class="header">completed</h6>

        <table class="u-full-width">
            <thead></thead>
          <tbody>
                {% for item in completed_list %}
                    <tr>
                      <td><strong>{{ item.content }}</strong> <em>- {{ item.completed_at }}</em></td>
                      <td><form action="/complete_todo/" method="post">
                        <input type="hidden" name="item" value={{ item.id }} />
                        <input type="submit" class = "todo-button" style="width:100%;" value="Undo" />
                        </form></td>
                    </tr>
                {% endfor %}
          </tbody>
        </table>
        
    </div>

    <div class="row"style="margin-bottom:30%;">
        <p><a href ="/logout" class="button button-primary u-full-width">log out</a></p>
    </div>

{% endblock %}


