{% extends "base.html" %}

{% block content %}

    <div class="main">

        <h1>{{ user.username }}'s Todo List</h1>

        <p><a href ="/logout">log out</a></p>

        <form action="/home/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Add Item" />
        </form>


        {% for item in todo_items %}
            <p><strong>{{ item.content }}</strong></p>
            <p>{{ item.created_at }}</p>
        {% endfor %}

    </div>

{% endblock %}


