{% extends "base.html" %}

{% block content %}

    <div class="main">

        <h1>{{ user.username }}'s Todo List</h1>

        <p><a href ="/logout">log out</a></p>

        <form action="/home/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Add Item" />
        </form>


        {% for item in todo_items %}
            <p><strong>{{ item.content }}</strong></p>
            <p>Added: {{ item.created_at }}</p>
            <form action="/complete_todo/" method="post">
            	<input type="hidden" name="item" value={{ item.id }} />
                <input type="submit" value="Complete" />
            </form>
        {% endfor %}

        <h1>{{ user.username }}'s Completed Tasks</h1>
        {% for item in completed_list %}
            <p><strong>{{ item.content }}</strong></p>
            <p>Completed: {{ item.completed_at }}</p>
            <form action="/complete_todo/" method="post">
            	<input type="hidden" name="item" value={{ item.id }} />
                <input type="submit" value="Undo" />
            </form>
        {% endfor %}

    </div>

{% endblock %}


