{% extends "base.html" %}


{% block content %}


	<h4 class="title">Get it Done</h4>
	<p>The todo list app for people who get things done.</p>
	<br>

	{% if form.errors %}
	<p>Your username and password didn't match. Please try again.</p>
	{% endif %}

	<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
		{% csrf_token %}
		
		{{ form.username.label_tag }} 
		{{ form.username }}
		{{ form.password.label_tag }} 
		{{ form.password }}
		<br>
		<input type="submit" value="login" class="button-primary" />
		<input type="hidden" name="next" value="/home" />
	</form>

	<p>Don't have an account? You can sign up <a href ="/register">here</a>.</p>
		    

{% endblock %}