{% extends "base.html" %}

{% block title %}Create an account{% endblock %}

{% block content %}
	<h4 class="title">Create an Account</h4>
	<p>If you think you're a doer.</p>
	<br>

	{% if form.errors %}
	<p>Either your passwords don't match, or that username already exists. Please try again. </p>
	{% endif %}

  <form action="" method="post">
	{% csrf_token %}

	{{ form.username.label_tag }}
	{{ form.username }}


	{{ form.password1.label_tag }}
	{{ form.password1 }}

	{{ form.password2.label_tag }}
	{{ form.password2 }}

	<br>

      <input type="submit" value="Create"class="button-primary">
  </form>

  <p>Already have an account? You can sign in <a href ="/login">here</a>.</p>
{% endblock %}